# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Env variables
.env
.env.*
!.env.example

# Backend - Node/Prisma
backend/node_modules/
backend/dist/

# Backend Prisma local databases (if using SQLite locally)
backend/prisma/*.db
backend/prisma/*.db-journal

# Backend env files
backend/.env
backend/.env.*

